body{
    margin: 0;
}

.search,.searchBtn{
    margin-left: 1em;
   border-radius: 5px;
}

.search{
    padding: 2px;
}

.top-nav{
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}


.top-nav a{
    padding: 10px 15px;
    text-decoration: none;
    color:#a9a9a9;
    font-weight: bold;
}

.top-nav a:hover{
    color: white;
}

.fa-angle-down{
    font-size:12px;
    padding: 5px;
    columns: #4bc504;;
}

.heading{
    background-color: #7bd801;
    padding: 3% 5%;
}

.headFont{
    color: #7dff9e;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.superior{
    margin:20px 0 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
}

.paraFont{
    color: #7dff9e;
}

.demoImg{
    height: 381px;
    width: 380px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-evenly;
    gap: 1em;
    margin: 0px 40px 0px 60px;
}

.btn{
    background-color: white;
    font-size: 1em;
    padding: 10px;
    border: none;
}

h3{
    color: rgb(3, 122, 219);
}

.mainSection{
    padding: 0% 5% 0% 5%;
}

@media screen and (max-width: 768px) {
  .grid {   
    grid-column: 1;  
    padding: 0px;
    margin: 10px;
    grid-template-columns: 1fr;
    text-align: center;
  }
}


@media screen and (max-width: 768px) {
  .top-nav {   
    display: flex;
    height: auto;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .inner-nav {   
    display: flex;
    height: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .nav2 {   
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .demoImg {   
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .headFont {   
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .superior {   
    font-size: 1.5em;
  }
}